@font-face {
  font-family: geist;
  src: url(/fonts/GeistVF.woff2);
}

@font-face {
  font-family: geist-mono;
  src: url(fonts/GeistMonoVF.woff2);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "geist-mono", sans-serif;
  background-color: aliceblue;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  max-width: fit-content;
  margin: auto;

  h1 {
    font-family: inter, sans-serif;
  }
}

.new-book,
.black-button {
  margin-left: 12px;
  border: none;
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  font-weight: 800;
  font-family: inherit;
  cursor: pointer;
}

.card {
  background-color: white;
  width: 200px;
  min-height: 150px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 5px grey;
  margin-bottom: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;

  span {
    margin-top: 10px;
  }
}

.new-book-dialog {
  max-width: 240px;
  padding: 16px;
  border: 3px solid black;
  #pages {
    width: 200px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  > :first-of-type {
    margin-left: 0;
  }
  > button {
    margin-top: 20px;
  }
}

.card-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  max-width: 90vw;
  margin: auto;
  justify-content: start;
}

.card-identifier {
  font-family: inter, sans-serif;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 30px;

  .top-section {
    height: 40px;
    margin-top: 20px;
  }

  .top-section > h1 {
    margin-right: 14px;
  }

  .medium {
    color: black;
  }
}